<h2> Salut {{ user.username ? user.username : '' }}</h2>
<p>Si t'as pas demandé ce mail oublie-le, sinon clique <a href="{{ link }}/pf/{{ uuid }}">ici</a></p>

<p>Si le lien pète un cable copie colle ça: {{ link }}/pf/{{ uuid }}</p>